body
{
}

.tableOutput {
    margin-top: 120px;
}

.Card_Holder {
    border-top: 25px;
    max-width: 55%;
    max-height: 20%;
    margin: auto;
    padding: 20px;
    position: relative;
    overflow: : hidden;
    box-sizing:border-box;
    display: inline-block;
}

.highest_div{
  margin-top: 5%;
}

.edit_button{
  border-radius: 15px;
  float: right;
  background-color:#782b90 ;
  color: white;
}



.left_side_user{
  float: left;

}

.sub_div{

  object-fit: contain;
}


.card-text-Creation {
    position: absolute;
    bottom: 0;
}

#filterDiv{
  margin-top: 80px;
  margin-left: 55%;
}

#sortByBtn{
  background-color: #782b90;
}

#searchError{
  padding-top: 60px;
}
